# Bitbucket Credentials
# Generate App Password di: https://bitbucket.org/account/settings/app-passwords/
# Permission yang dibutuhkan: Pipelines (Read + Write), Repositories (Read + Write)
#
# Format token: base64("username:app_password")
# Cara generate di terminal:
#   echo -n "your_username:your_app_password" | base64
#
BB_TOKEN=your_base64_encoded_username_apppassword

# Bitbucket repo info
BB_WORKSPACE=your_bitbucket_workspace_slug
BB_REPO_SLUG=your_repo_slug
BB_BRANCH=main
